@import '../../../css/mixins';

.card {
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  max-height: 250px;
  overflow: hidden;
  width: 250px;

  &:nth-child(even) {
    margin-left: 20px;
  }

  &:nth-child(4n + 2) {
    margin-right: 20px;
  }

  @include mq('all-mob') {
    max-height: 45vw;
    width: 45vw;

    &:nth-child(even) {
      margin-left: 5px;
    }
  
    &:nth-child(4n + 2) {
      margin-right: unset;
    }

    &:nth-child(odd) {
      margin-right: 5px;
    }
  }

  @include mq('mob-port') {
    &:first-of-type {
      margin-right: 10px;
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;

    &:hover {
      .card__info {
        top: 0;
      }
    }
  }

  &__image {
    display: flex;
    flex-direction: column;
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__name {
    align-items: center;
    display: flex;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;

    @include mq('all-mob') {
      font-size: 3vw;
      height: auto;
    }
  }

  &__info {
    background-color: #00AFC8;
    height: 100%;
    padding: 0 20px;
    position: absolute;
    top: 84%;
    width: 100%;

    @include transition(top);

    @include mq('all-mob') {
      padding: 4vw;
      padding-top: 2.2vw;
    }
  }

  &__row {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    text-align: right;
    
    &:not(:last-child) {
      border-bottom: 1px solid rgba($color: #FFF, $alpha: .3);
    }
  }

  &__col {
    font-variant: all-petite-caps;
    padding: 5px 0;

    @include mq('all-mob') {
      font-size: 2.5vw;
    }

    &--value {
      font-weight: 100;
      width: 46%;
    }
  }
}